.gamesbtn, .gameTitle
	background:
		image: $game-logos-url
		repeat: no-repeat
		size: 4540px 200px
	height: 100px
	margin: 30px auto
	display: block

.gamesbtn
	border-bottom: 4px solid $main-color
	&:hover
		border-bottom: 4px solid white
		

#BladeAndSoul
	width: 200px
	background-position: 0px -100px
	
#Brawlhalla
	width: 355px
	background-position: -200px -100px
	
#CompanyOfHeroes
	width: 245px
	background-position: -555px -100px
	
#CounterStrikeGO
	width: 430px
	background-position: -800px -100px
	
#DarkSoulsIII
	width: 515px
	background-position: -1230px -100px
	
#Destiny
	width: 315px
	background-position: -1745px -100px
	
#Dota2
	width: 230px
	background-position: -2060px -100px
	
#Hearthstone
	width: 255px
	background-position: -2290px -100px
	
#HeroesOfTheStorm
	width: 160px
	background-position: -2545px -100px
	
#LeagueOfLegends
	width: 255px
	background-position: -2705px -100px
	
#Overwatch
	width: 550px
	background-position: -2960px -100px

#StarCraftII
	width: 185px
	background-position: -3510px -100px

#StreetFighterV
	width: 135px
	background-position: -3695px -100px

#Warframe
	width: 505px
	background-position: -3830px -100px

#WorldOfWarcraft
	width: 205px
	background-position: -4335px -100px
	
	
	