@media screen and (max-width: 680px)
	.col-1
		width: 5%
		
	.col-10
		width: 90%
		
	.gamesbtn, .gameTitle
		background:
			image: $mobile-game-logos-url
			size: 2075px 100px
	
	#BladeAndSoul, #Dota2, #HeroesOfTheStorm, #StarCraftII, #StreetFighterV, #WorldOfWarcraft
		background:
			image: $game-logos-url
			size: 4540px 200px
	
	#Brawlhalla
		width: 240px
		height: 65px
		background-position: 0px
		
	#CompanyOfHeroes
		width: 200px
		height: 52px
		background-position: -240px
		
	#CounterStrikeGO
		width: 235px
		height: 70px
		background-position: -440px
		
	#DarkSoulsIII
		width: 230px
		height: 50px
		background-position: -675px
		
	#Destiny
		width: 230px
		height: 80px
		background-position: -905px
		
	#Hearthstone
		width: 240px
		background-position: -1135px
		
	#LeagueOfLegends
		width: 240px
		background-position: -1375px
		
	#Overwatch
		width: 225px
		height: 50px
		background-position: -1615px
		
	#Warframe
		width: 235px
		height: 43px
		background-position: -1840px
		

	.memberCard
		margin: 20px
		padding: 15px