.memberCard
    display: flex
    margin: 40px
    padding: 20px
    background-color: rgba(0,0,0,0.6)
    box-shadow: 0 0 5px $main-color
    
.memberImgContainer
    margin: 10px
    
.memberImg
    border: 1px solid $main-color
    
.memberContentContainer
    margin: 20px
    
ign, name, desc
    display: flex
    
ign
    font-size: 1.5em
    margin: 0 0 10px
    
.memberLinksContainer
    display: inline
    margin: 20px 0
    font-size: 32px
    
.fa, .discordIcon
    margin: 10px
    
.fa
    color: white
    
.fa:hover
    color: $main-color

.discordIcon
    background:
        image: $discord-white-logo-url
        repeat: no-repeat
        position: center
        size: contain
    display: inline-flex
    position: relative
    top: 15px
    width: 32px
    height: 32px
    

.discordIcon:hover
    background-image: $discord-orange-logo-url