@font-face {
  font-family: razing;
  src: url(../files/Razing.ttf);
}
.col-1, .col-10, .col-12 {
  float: left;
  display: block;
  padding: 0;
  margin: 0;
}
.col-1::after, .col-10::after, .col-12::after {
  content: "";
  clear: both;
  display: block;
}

.col-1 {
  width: 8.33%;
  padding: 1px;
}

.col-5 {
  width: 41.66%;
}

.col-7 {
  width: 58.33%;
}

.col-10 {
  width: 83.33%;
}

.col-12 {
  width: 100%;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  color: white;
  font-family: Times New Roman, Century, serif;
  line-height: 1.5em;
  background-color: black;
  background-image: url("../imgs/bg/bg3.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat;
}

p {
  margin: 1em 0;
  text-indent: 2em;
}

a {
  color: #ffc70e;
  text-decoration: none;
}
a:hover {
  color: white;
}

#header {
  z-index: 100;
  height: 90px;
  position: fixed;
  background-color: black;
  background-image: url("../imgs/bg/headerBg.png");
  box-shadow: 0 5px 10px #ffc70e;
}

#header a {
  display: inline-flex;
}

#logo {
  background-image: url("../imgs/logoGlow.png");
  background-size: 97px 90px;
  background-position: center;
  background-repeat: no-repeat;
  width: 97px;
  height: 90px;
}

#logo2 {
  background-image: url("../imgs/logo2White.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 170px;
  height: 170px;
}

#nav {
  float: right;
}

#menuBurger {
  margin: 20px;
  color: white;
  font-size: 50px;
}

#content {
  margin: 130px 0 0;
}

#footer {
  margin: 70px 0 100px;
  text-align: center;
}

#navOverlay {
  z-index: 75;
  position: fixed;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  transform: translateX(0);
}

#navPanel {
  position: fixed;
  overflow-y: auto;
  height: 100%;
  background-color: black;
  background-image: url("../imgs/bg/navBg.jpg");
  box-shadow: 5px 0 10px #ffc70e;
}

#navPanel a:first-child {
  border-top: 1px solid white;
}

#navPanel a:last-child {
  margin: 0 0 300px;
}

.navbtn {
  padding: 1em 0;
  display: inline-block;
  position: relative;
  top: 120px;
  width: 100%;
  border-bottom: 1px solid white;
  font-family: razing;
  font-size: 1.25em;
  text-align: center;
  color: #ffc70e;
}
.navbtn:hover {
  color: white;
}

#exitNav {
  height: 100%;
  float: right;
}

.gamesbtn, .gameTitle {
  background-image: url("../imgs/gameLogos.png");
  background-repeat: no-repeat;
  background-size: 4540px 200px;
  height: 100px;
  margin: 30px auto;
  display: block;
}

.gamesbtn {
  border-bottom: 4px solid #ffc70e;
}
.gamesbtn:hover {
  border-bottom: 4px solid white;
}

#BladeAndSoul {
  width: 200px;
  background-position: 0px -100px;
}

#Brawlhalla {
  width: 355px;
  background-position: -200px -100px;
}

#CompanyOfHeroes {
  width: 245px;
  background-position: -555px -100px;
}

#CounterStrikeGO {
  width: 430px;
  background-position: -800px -100px;
}

#DarkSoulsIII {
  width: 515px;
  background-position: -1230px -100px;
}

#Destiny {
  width: 315px;
  background-position: -1745px -100px;
}

#Dota2 {
  width: 230px;
  background-position: -2060px -100px;
}

#Hearthstone {
  width: 255px;
  background-position: -2290px -100px;
}

#HeroesOfTheStorm {
  width: 160px;
  background-position: -2545px -100px;
}

#LeagueOfLegends {
  width: 255px;
  background-position: -2705px -100px;
}

#Overwatch {
  width: 550px;
  background-position: -2960px -100px;
}

#StarCraftII {
  width: 185px;
  background-position: -3510px -100px;
}

#StreetFighterV {
  width: 135px;
  background-position: -3695px -100px;
}

#Warframe {
  width: 505px;
  background-position: -3830px -100px;
}

#WorldOfWarcraft {
  width: 205px;
  background-position: -4335px -100px;
}

.memberCard {
  margin: 40px;
  padding: 20px;
}

.memberImg {
  margin: 10px;
  border: 5px solid #ffc70e;
  box-shadow: 5px 5px 10px #ffc70e;
}

/*Mobiles - screen width less than 880px */
@media screen and (max-width: 880px) {
  body {
    background-image: url("../imgs/bg/m_bg.png");
    background-attachment: scroll;
  }

  #header {
    height: 70px;
  }

  #menuBurger {
    margin: 10px;
  }

  #logo {
    background-image: url("../imgs/m_logoGlow.png");
    background-size: 76px 70px;
    width: 70px;
    height: 70px;
  }

  #logo2 {
    background-size: auto 120px;
    height: 120px;
  }

  #content {
    margin: 110px 0 0;
  }

  #footer {
    margin: 60px 0 90px;
  }
}
/*Mobiles - screen width less than 620px */
@media screen and (max-width: 620px) {
  .col-1 {
    width: 5%;
  }

  .col-10 {
    width: 90%;
  }

  .gamesbtn, .gameTitle {
    background-image: url("../imgs/m_gameLogos.png");
    background-size: 2075px 100px;
  }

  #BladeAndSoul, #Dota2, #HeroesOfTheStorm, #StarCraftII, #StreetFighterV, #WorldOfWarcraft {
    background-image: url("../imgs/gameLogos.png");
    background-size: 4540px 200px;
  }

  #Brawlhalla {
    width: 240px;
    height: 65px;
    background-position: 0px;
  }

  #CompanyOfHeroes {
    width: 200px;
    height: 52px;
    background-position: -240px;
  }

  #CounterStrikeGO {
    width: 235px;
    height: 70px;
    background-position: -440px;
  }

  #DarkSoulsIII {
    width: 230px;
    height: 50px;
    background-position: -675px;
  }

  #Destiny {
    width: 230px;
    height: 80px;
    background-position: -905px;
  }

  #Hearthstone {
    width: 240px;
    background-position: -1135px;
  }

  #LeagueOfLegends {
    width: 240px;
    background-position: -1375px;
  }

  #Overwatch {
    width: 225px;
    height: 50px;
    background-position: -1615px;
  }

  #Warframe {
    width: 235px;
    height: 43px;
    background-position: -1840px;
  }
}
/*Mobiles - screen width less than 450px */
@media screen and (max-width: 450px) {
  .col-5 {
    width: 80%;
  }
}
