@font-face {
  font-family: razing;
  src: url(../files/Razing.ttf);
}
h4 {
  margin: 60px 0 30px;
  text-align: center;
  color: #ffc70e;
  font-family: razing;
  font-size: 1.75em;
}

p {
  text-indent: 0;
  text-align: center;
}

#donate {
  display: block;
  margin: 30px auto;
  text-align: center;
  box-shadow: 2px 2px 4px #ffc70e;
  background-color: black;
  padding: 1em 0;
  width: 60%;
  max-width: 300px;
  border: 1px solid white;
  border-radius: 5px;
  font-family: razing;
  font-size: 32px;
}

#s-discord {
  width: 200px;
  height: 68px;
  display: block;
  margin: 30px auto;
  fill: #FFFFFF;
}
#s-discord:hover {
  fill: #7289DA;
}

.s-facebook {
  width: 144px;
  height: 27px;
  display: block;
  margin: 30px auto;
}

.s-googleplus {
  display: block;
  width: 250px;
  height: 206px;
  margin: 30px auto;
}

.s-youtube {
  width: 193.25px;
  height: 120.25px;
  display: block;
  margin: 30px auto;
}
