@font-face {
  font-family: razing;
  src: url(../files/Razing.ttf);
}
/*!$ni = Number of News Images! */
#n1 {
  background-image: url("../images/others/news0.png");
  background-size: 540px 384px;
}

#n2 {
  background-image: url("../images/others/news2.png");
  background-size: 540px 384px;
}

#n3 {
  background-image: url("../images/others/news3.png");
  background-size: 540px 384px;
}

#n4 {
  background-image: url("../images/others/news4.png");
  background-size: 540px 384px;
}

#news {
  float: left;
  width: 100%;
  height: 450px;
  margin: 50px auto;
}

.news-imgs, #slider, #sliderbtn {
  width: 540px;
  height: 384px;
}

#slider {
  box-shadow: 0 0 10px #ffc70e;
  margin: auto;
  overflow: hidden;
}
#slider ul {
  position: relative;
  list-style: none;
  padding: 0;
}
#slider ul li {
  float: left;
}
#sliderbtn {
  position: relative;
  margin: auto;
  top: -384px;
  padding: 0;
}

#left, #right {
  color: white;
  cursor: pointer;
  font-size: 64px;
  opacity: 0.1;
  position: relative;
  text-align: center;
  top: 158px;
  width: 70px;
}
#left:hover, #right:hover {
  opacity: 1;
}

#right {
  right: -396px;
}

#slidershortcut {
  width: 540px;
  height: 50px;
  margin: auto;
  position: relative;
  top: -375px;
}

#numbers {
  list-style: none;
  display: inline;
}
#numbers li {
  background-image: url("../images/others/dot.png");
  background-repeat: no-repeat;
  background-size: 16px 32px;
  float: left;
  margin: 10px;
  text-indent: -9999px;
  position: relative;
  width: 16px;
  height: 16px;
  left: 198px;
}

.activenum {
  background-position: 0px -16px;
}

@media screen and (max-width: 700px) {
  /*!$ni = Number of News Images! */
  #n1 {
    background-image: url("../images/others/news0.png");
    background-size: 400px 284px;
  }

  #n2 {
    background-image: url("../images/others/news2.png");
    background-size: 400px 284px;
  }

  #n3 {
    background-image: url("../images/others/news3.png");
    background-size: 400px 284px;
  }

  #n4 {
    background-image: url("../images/others/news4.png");
    background-size: 400px 284px;
  }

  #news {
    height: 350px;
  }

  .news-imgs, #slider, #sliderbtn {
    width: 400px;
    height: 284px;
  }

  #slider {
    width: 400px;
    height: 284px;
  }
  #sliderbtn {
    width: 400px;
    height: 284px;
    top: -284px;
  }

  #left, #right {
    font-size: 54px;
    top: 114px;
    width: 60px;
  }

  #right {
    right: -275px;
  }

  #slidershortcut {
    width: 400px;
    top: -275px;
  }

  #numbers li {
    left: 128px;
  }
}
@media screen and (max-width: 475px) {
  /*!$ni = Number of News Images! */
  #n1 {
    background-image: url("../images/others/news0.png");
    background-size: 240px 170px;
  }

  #n2 {
    background-image: url("../images/others/news2.png");
    background-size: 240px 170px;
  }

  #n3 {
    background-image: url("../images/others/news3.png");
    background-size: 240px 170px;
  }

  #n4 {
    background-image: url("../images/others/news4.png");
    background-size: 240px 170px;
  }

  #news {
    height: 250px;
  }

  .news-imgs, #slider, #sliderbtn {
    width: 240px;
    height: 170px;
  }

  #slider {
    width: 240px;
    height: 170px;
  }
  #sliderbtn {
    width: 240px;
    height: 170px;
    top: -170px;
  }

  #left, #right {
    font-size: 54px;
    opacity: 0.2;
    top: 57px;
    width: 50px;
  }

  #right {
    right: -137px;
  }

  #slidershortcut {
    width: 240px;
    top: -160px;
  }

  #numbers li {
    left: 48px;
  }
}
