.memberCard
    display: flex
    margin: 40px
    padding: 20px
    background-color: rgba(0,0,0,0.9)
    box-shadow: 0 0 5px $main-color
    
.memberImgContainer
    margin: 10px
    
.memberImg
    border: 1px solid $main-color
    
.memberContentContainer
    margin: 20px
    
ign, name, desc
    display: flex
    
ign
    font-size: 1.5em
    margin: 0 0 10px
    
.memberLinksContainer
    display: inline
    margin: 20px 0
    font-size: 32px
    
    
    
#miniMemberCardContainer
    justify-content: center

.miniMemberCard
    width: 200px
    height: 50px
    margin: 10px
    padding: 10px
    display: inline-flex
    background-color: rgba(0,0,0,0.9)
    box-shadow: 0 0 5px $main-color
    &:hover
        box-shadow: 0 0 5px white
        
.miniMemberImg
    width: 50px
    height: 50px

.miniMemberContentContainer
    height: 50px
    margin: auto 10px
    
    

#indepthMemberCardPopUpBg
    width: 100%
    height: 100%
    position: fixed
    z-index: $z-top
    background-color: rgba(0,0,0, 0.5)
    display: flex
    align-items: center
    justify-content: center
    