.memberCard
    display: flex
    margin: 40px
    padding: 20px
    background-color: rgba(0,0,0,0.9)
    box-shadow: 0 0 5px $main-color
    
.memberImgContainer
    margin: 10px
    
.memberImg
    border: 1px solid $main-color
    
.memberContentContainer
    margin: 20px
    
ign, name, desc
    display: flex
    
ign
    font-size: 1.5em
    margin: 0 0 10px
    
.memberLinksContainer
    display: inline
    margin: 20px 0
    font-size: 32px
    
    
    
#miniMemberCardContainer
    justify-content: center

.miniMemberCard
    width: 200px
    height: 50px
    margin: 10px
    padding: 10px
    display: inline-flex
    background-color: rgba(0,0,0,0.9)
    box-shadow: 0 0 5px $main-color
    &:hover
        box-shadow: 0 0 5px white
        
.miniMemberImg
    width: 50px
    height: 50px

.miniMemberContentContainer
    height: 50px
    margin: auto 10px
    
    

#indepthMemberCardPopUpBg
    width: 100%
    height: 100%
    position: fixed
    z-index: $z-top
    background-color: rgba(0,0,0, 0.5)
    display: flex
    align-items: center
    justify-content: center
    
    

.memberContentContainer > span
    display: inline-flex
    margin: 0 10px

.miniIcon
    width: 1.5em
    height: 1.5em
    margin: 0 5px
    
#miniBladeAndSoul
    background-image: $game-mini-bs
    
#miniBrawhalla
    background-image: $game-mini-brawlhalla

#miniCompanyOfHeroes
    background-image: $game-mini-coh

#miniCSGo
    background-image: $game-mini-csgo

#miniDarkSouls3
    background-image: $game-mini-ds3

#miniDestiny
    background-image: $game-mini-destiny

#miniDota2
    background-image: $game-mini-dota2

#miniHearthstone
    background-image: $game-mini-hs

#miniHOTS
    background-image: $game-mini-hots

#miniLOL
    background-image: $game-mini-lol

#miniOverwatch
    background-image: $game-mini-ow

#miniSC2
    background-image: $game-mini-sc2

#miniStreetFighter5
    background-image: $game-mini-sf5

#miniWarframe
    background-image: $game-mini-wf

#miniWOW
    background-image: $game-mini-wow

