@font-face {
  font-family: razing;
  src: url(/files/Razing.ttf); }
#preloaderBg {
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: black;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center; }

#preloader {
  background-image: url("/imgs/loadingIcon.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 32px;
  height: 32px;
  z-index: 1000; }

@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
.rotate {
  -webkit-animation: rotating 2s linear 300s;
  -moz-animation: rotating 2s linear 300s;
  -ms-animation: rotating 2s linear 300s;
  -o-animation: rotating 2s linear 300s;
  animation: rotating 2s linear 300s; }

@-webkit-keyframes hide {
  to {
    width: 0;
    height: 0;
    visibility: hidden; } }
@keyframes hide {
  to {
    width: 0;
    height: 0;
    overflow: hidden; } }
.hide {
  -moz-animation: hide 0s ease-in 5s forwards;
  -webkit-animation: hide 0s ease-in 5s forwards;
  -o-animation: hide 0s ease-in 5s forwards;
  animation: hide 0s ease-in 5s forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

.col-1, .col-10, .col-12 {
  float: left;
  display: block;
  padding: 0;
  margin: 0; }
  .col-1::after, .col-10::after, .col-12::after {
    content: "";
    clear: both;
    display: block; }

.col-1 {
  width: 8.33%;
  padding: 1px; }

.col-5 {
  width: 41.66%; }

.col-7 {
  width: 58.33%; }

.col-10 {
  width: 83.33%; }

.col-12 {
  width: 100%; }

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  color: white;
  font-family: Times New Roman, Century, serif;
  line-height: 1.5em;
  background-color: black;
  background-image: url("/imgs/bg/bg3.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat; }

p {
  margin: 1em 0;
  text-indent: 2em; }

a {
  color: #ffc70e;
  text-decoration: none; }
  a:hover {
    color: white; }

#header {
  z-index: 100;
  height: 90px;
  position: fixed;
  background-color: black;
  background-image: url("/imgs/bg/headerBg.png");
  box-shadow: 0 5px 10px #ffc70e; }

#header a {
  display: inline-flex; }

#logo {
  background-image: url("/imgs/logoGlow.png");
  background-size: 97px 90px;
  background-position: center;
  background-repeat: no-repeat;
  width: 97px;
  height: 90px; }

#logo2 {
  background-image: url("/imgs/logo2White.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 170px;
  height: 170px; }

#nav {
  float: right; }

#menuBurger {
  margin: 20px;
  color: white;
  font-size: 50px; }

#content {
  margin: 130px 0 0; }

#footer {
  margin: 70px 0 100px;
  text-align: center; }

#navOverlay {
  z-index: 75;
  position: fixed;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  transform: translateX(0); }

#navPanel {
  position: fixed;
  overflow-y: auto;
  height: 100%;
  background-color: black;
  background-image: url("/imgs/bg/navBg.jpg");
  box-shadow: 5px 0 10px #ffc70e; }

#navPanel a:first-child {
  border-top: 1px solid white; }

#navPanel a:last-child {
  margin: 0 0 200px; }

.navbtn {
  padding: 1em 0;
  display: inline-block;
  position: relative;
  top: 120px;
  width: 100%;
  border-bottom: 1px solid white;
  font-family: razing;
  font-size: 1.25em;
  text-align: center;
  color: #ffc70e; }
  .navbtn:hover {
    color: white; }

#exitNav {
  height: 100%;
  float: right; }

#contactContainer, #connectWithUsContainer, #donateContainer, #faqContainer {
  margin: 50px 0; }
  #contactContainer > h2, #connectWithUsContainer > h2, #donateContainer > h2, #faqContainer > h2 {
    margin: 0 0; }

#connectWithUsContainer > a {
  font-size: 32px; }

#faqContainer > p:nth-child(even) {
  margin: 30px 0 5px; }
#faqContainer > p:nth-child(odd) {
  margin: 0 0;
  text-indent: 3em; }

.fa, .discordIcon {
  margin: 10px; }

.fa {
  color: white; }

.fa:hover {
  color: #ffc70e; }

.discordIcon {
  background-image: url("/imgs/socialmedia/discord-icon-white.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: inline-flex;
  position: relative;
  top: 15px;
  width: 32px;
  height: 32px; }

.discordIcon:hover {
  background-image: url("/imgs/socialmedia/discord-icon-orange.png"); }

.gamesbtn, .gameTitle {
  background-image: url("/imgs/gameLogos.png");
  background-repeat: no-repeat;
  background-size: 4540px 200px;
  height: 100px;
  margin: 30px auto;
  display: block; }

.gamesbtn {
  border-bottom: 4px solid #ffc70e; }
  .gamesbtn:hover {
    border-bottom: 4px solid white; }

#bladeandsoul {
  width: 200px;
  background-position: 0px -100px; }

#brawlhalla {
  width: 355px;
  background-position: -200px -100px; }

#companyofheroes {
  width: 245px;
  background-position: -555px -100px; }

#counterstrikego {
  width: 430px;
  background-position: -800px -100px; }

#darksouls3 {
  width: 515px;
  background-position: -1230px -100px; }

#destiny {
  width: 315px;
  background-position: -1745px -100px; }

#dota2 {
  width: 230px;
  background-position: -2060px -100px; }

#hearthstone {
  width: 255px;
  background-position: -2290px -100px; }

#heroesofthestorm {
  width: 160px;
  background-position: -2545px -100px; }

#leagueoflegends {
  width: 255px;
  background-position: -2705px -100px; }

#overwatch {
  width: 550px;
  background-position: -2960px -100px; }

#starcraft2 {
  width: 185px;
  background-position: -3510px -100px; }

#streetfighter5 {
  width: 135px;
  background-position: -3695px -100px; }

#warframe {
  width: 505px;
  background-position: -3830px -100px; }

#worldofwarcraft {
  width: 205px;
  background-position: -4335px -100px; }

.memberCard {
  display: flex;
  margin: 40px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 5px #ffc70e; }

.memberImgContainer {
  margin: 10px; }

.memberImg {
  border: 1px solid #ffc70e; }

.memberContentContainer {
  margin: 20px; }

ign, name, desc {
  display: flex; }

ign {
  font-size: 1.5em;
  margin: 0 0 10px; }

.memberLinksContainer {
  display: inline;
  margin: 20px 0;
  font-size: 32px; }

/*Mobiles - screen width less than 880px */
@media screen and (max-width: 880px) {
  body {
    background-image: url("/imgs/bg/m_bg.png");
    background-attachment: scroll; }

  #header {
    height: 70px; }

  #menuBurger {
    margin: 10px; }

  #logo {
    background-image: url("/imgs/m_logoGlow.png");
    background-size: 76px 70px;
    width: 70px;
    height: 70px; }

  #logo2 {
    background-size: auto 120px;
    height: 120px; }

  #content {
    margin: 110px 0 0; }

  #footer {
    margin: 60px 0 90px; } }
/*Mobiles - screen width less than 680px */
@media screen and (max-width: 680px) {
  .col-1 {
    width: 5%; }

  .col-10 {
    width: 90%; }

  .gamesbtn, .gameTitle {
    background-image: url("/imgs/m_gameLogos.png");
    background-size: 2075px 100px; }

  #bladeandsoul, #dota2, #heroesofthestorm, #starcraft2, #streetfighter5, #worldofwarcraft {
    background-image: url("/imgs/gameLogos.png");
    background-size: 4540px 200px; }

  #brawlhalla {
    width: 240px;
    height: 65px;
    background-position: 0px; }

  #companyofheroes {
    width: 200px;
    height: 52px;
    background-position: -240px; }

  #counterstrikego {
    width: 235px;
    height: 70px;
    background-position: -440px; }

  #darksouls3 {
    width: 230px;
    height: 50px;
    background-position: -675px; }

  #destiny {
    width: 230px;
    height: 80px;
    background-position: -905px; }

  #hearthstone {
    width: 240px;
    background-position: -1135px; }

  #leagueoflegends {
    width: 240px;
    background-position: -1375px; }

  #overwatch {
    width: 225px;
    height: 50px;
    background-position: -1615px; }

  #warframe {
    width: 235px;
    height: 43px;
    background-position: -1840px; }

  .memberCard {
    display: block;
    margin: 30px 20px;
    padding: 15px; }

  .memberImg {
    display: flex;
    margin: auto; } }
/*Mobiles - screen width less than 450px */
@media screen and (max-width: 450px) {
  .col-5 {
    width: 80%; }

  .memberImg {
    width: 100px;
    height: 100px; } }
